
@import "../../../../Style.scss";

.fa-toggle-on, .fa-toggle-off{
   float: right;

}

.AdminPurchaseTxtWrap{@extend %font-helvetica;	font-size: 14px;	line-height: 17px;display: inline-block;}
.AdminWrapHeader, .ContributorWrapHeader{@include paddingTopBottom(40px);}

.AdminBoxWrap, .ContributorBoxWrap {
    border:1px solid black;
    background-color: whitesmoke;
    max-width: 500px; 
    height: 420px;
    margin-right: 20px ;
    margin-top:20px 
}

